/* Basic */
body {
    background-image: url(https://i.ibb.co/Lx61B4v/moroccan-flower.png  );
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    border: 3px solid black;
    margin: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "info education" "work skills" "languages courses" "footer footer";
    column-gap: 10%;
    align-content: center;
}

header {
    grid-area: header;
    display: flex;
}

section {
    border-bottom: 1px solid black;
    margin: .5rem;
}

.headerprofile-image {
    margin: 10px;
    width: 12.5rem;
    flex: 1;
}

.headerprofile-image img {
    max-width: 100%;
    border-radius: 10rem;
}

.header-title {
    flex: 2;
    text-align: center;
    align-self: center;
    font-family: serif;
    font-size: 60px;
}

h2 {
    text-align: center;
}

h1, h2 {
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* grids */
.personal-info {
    grid-area: info;
    padding: .5rem .25rem;
}

.Education {
    grid-area: education;
    padding-bottom: 5rem;
}

.work-experince {
    grid-area: work;
}

.skills {
    grid-area: skills;
}

.languages {
    grid-area: languages;
}

.courses {
    grid-area: courses;
}
/* footer */
footer {
    background-color: #414040;
    padding: 1.5rem;
    grid-area: footer;
    display: flex;
}

footer p {
    color: #ffff;
}

.footer1 {
    flex: 1;
}

.social-links {
    list-style: none;
}

.social-links li {
    display: inline-block;
    margin-right: 1rem;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link, .social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.social-links li a:link, .social-links li a:visited {
    font-size: 150%;
}

ion-icon {
    transition: color 0.2s;
}

.facebook:hover {
    color: #2290bf;
}

.twitter:hover {
    color: #00b6f1;
}

.insta:hover {
    color: #c32aa3;
}